<!DOCTYPE html>
<html>
  <head>
    <title>MTG✯Tester</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Roboto" rel="stylesheet">
    <header>MTG✯TESTER</header>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
